.cardLists {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.cardLists li {
  border: 1px solid #ccc;
  margin: 8px;
  height: 128px;
  width: 128px;
  position: relative;
  display: inline-block;
}

.colorHead {
  background: red;
  height: 8px;
}

.propertyName {
  font-size: 1rem;
  padding: 8px 0px;
  width: 80%;
  margin: auto;
}

.cardPrices {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding-bottom: 2px;
}

.light-blue {
  background: #87ceeb;
  height: 8px;
}

.brown {
  background-color: #8b4513;
  height: 8px;
}

.pink {
  background-color: #ff0080;
  height: 8px;
}

.orange {
  background-color: #ffa500;
  height: 8px;
}

.red {
  background-color: #ff0000;
  height: 8px;
}

.yellow {
  background-color: #ffff00;
  height: 8px;
}

.green {
  background-color: #008000;
  height: 8px;
}

.dark-blue {
  background-color: #0000ff;
  height: 8px;
}
