/* Cards color */

.light-blue {
  background: #87ceeb;
}

.brown {
  background-color: #8b4513;
}

.pink {
  background-color: #ff0080;
}

.orange {
  background-color: #ffa500;
}

.red {
  background-color: #ff0000;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #008000;
}

.dark-blue {
  background-color: #0000ff;
}

.nameDesign{
  padding: 8px;
  margin: 8px;
  border: 2px solid black;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Styles for styling individual cards */

.cardLists {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.cardLists li {
  border: 1px solid #ccc;
  margin: 8px;
  height: 240px;
  width: 240px;
  position: relative;
  display: inline-block;
  box-shadow: 1px 2px;
  vertical-align: top;
}

.flipCard {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
/* This container is needed to position the front and back side */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipCardFront {
  color: black;
}

/* Style the back side */
.flipCardBack {
  background-color: rgb(30, 31, 32);
  color: white;
  transform: rotateY(180deg);
}

.propertyName {
  font-size: 1rem;
  padding: 8px 0px;
  width: 80%;
  margin: auto;
}

.cardPrices {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding-bottom: 2px;
}

/* Trade buttons desing (flip card back side) */

.tradeBtnsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 10%;
}

.tradeBtns {
  margin: 8px 0px;
  padding: 8px 0px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.tradeBtns:hover {
  background-color: lightcoral;
}

.trade button {
  width: 80%;
}

.mortgage button {
  width: 80%;
}

.rentDetails {
  font-size: 0.8rem;
  font-weight: bolder;
}

.houseRents {
  display: flex;
  flex-direction: column;
}

.houseRent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bolder;
  font-size: 0.6rem;
}
